
/*Height Map Styles*/

body {
    font-family: "Arial";
    text-align:center;
    }

h1,h5{
    font-family: "surrounding-reg";
    }
    
h1{
    font-size: 38pt;
	color: #2980B9;
	line-height: 60pt;
    }

h5{
	font-size: 20pt;
	font-weight: 600;
	color: #2980B9;
	line-height: 1pt;
	}

p {
    color: #34495E;
    font-family: "Verdana";
    font-size: 16pt;
    }
 
#container{
    margin-top: 5%;
    }
    
font-face{
    font-family: "surrounding-reg";
    src: url(SurroundingRegular.otf);
    }

/*html { 
  background: url(Wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
